{% block content %}

<div class="form-wrapper">
    <h2 class="title">Control Our Christmas Lights</h2>
    <form method="post">
        <button value="off" type="submit" name="off">Off</button>
        <button value="on" type="submit" name="on">On</button>
        <button value="brighter" type="submit" name="brighter">Brighter</button>
        <button value="dimmer" type="submit" name="dimmer">Dimmer</button>
        <button value="rotate" type="submit" name="rotate">Rotate</button>
        <button value="twinkle" type="submit" name="twinkle">Twinkle</button>
        <button value="flashing_changes" type="submit" name="flashing_changes">Flashing Changes</button>
        <button value="chill_mode" type="submit" name="chill_mode">Chill Mode</button>
        <button value="dancing" type="submit" name="dancing">Dancing</button>
        <button value="slow_fade" type="submit" name="slow_fade">Slow Fade</button>
        <button value="party_mode" type="submit" name="party_mode">Party Mode</button>
        <button value="solid" type="submit" name="solid">Solid</button>
    </form>
</div>

{% endblock %}